include README.md docs/legal/AGPL-3.0.txt NOTICE.md requirements.txt requirements-tested.txt
recursive-include examples *.py *.ipynb *.md
recursive-include tests *.py
recursive-include data *.md
recursive-include docs *.md
recursive-include licenses *.txt
global-exclude __pycache__ *.py[cod]
